

= simple_nested_form_for(@reference) do |f| 
  = f.error_notification

  .row

    #legend
      %legend Cabecera
    .form-group
      = f.input :title, input_html: { class: "form-control" },  label_html: { class: '' }
    .form-group
      = f.input :subtitle, input_html: { class: "form-control" },  label_html: { class: '' }


    #legend
      %legend Proyectos
    .row
      = f.fields_for :projects, :html => { :multipart => true } do |project_form|

        .form-group.col-xs-4
          - if project_form.object.image.present?
            = image_tag project_form.object.image.url(:medium)
          = project_form.file_field :image, class: "form-control",:placeholder => "Imagen"
        .form-group.col-xs-4
          = project_form.text_field :url, class: "form-control", :placeholder => "URL"
        .form-group.col-xs-4
          = project_form.text_field :name , class: "form-control", :placeholder => "Nombre"
        .clearfix
        .form-group
          = project_form.link_to_remove "Borrar" 
      %p
        = f.link_to_add "Añadir proyecto", :projects

  .row
    .form-actions
      = f.button :submit